#navBar{
    height: 100px;
    border: 1px solid black;
    display: flex;
    background-color: cornflowerblue;
    flex-direction: row;
}
#div-logo{
    height: 100%;
    width: 30%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}
#links-navbar{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
}
#search-bar-ext{
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}
#search-bar-in{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 40%;
    margin: 0 10% 0 0%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
#links-navbar a{
    margin: 20px;
}
#div-links{
    display: flex;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}
#search-search-btn{
    background-color: rgb(96, 117, 223);
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-search-btn img{
    width: 20px;
}
#buttons{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px;
}
#buttons button{
    background-color: rgb(96, 117, 223);
    color: white;
    margin-left: 10px;
}
#input-search{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-search input[type="text"]{
    margin-left: 5px;
    width: 100%;
    border: none;
    outline: none;
}
#input-search input[type="text"]::selection{
    border: 0px;
}